@electricelephants:registry=https://git.on.seo/api/v4/projects/2195/packages/npm/
//git.on.seo/api/v4/projects/2195/packages/npm/:_authToken=glpat-iIpRYls5Fiwf0DzZBxJkRW86MQp1OmozCA.01.0y1gqrlic
strict-ssl=false
